[*.{cpp,hpp}]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8
brace_style = next_line
namespace_indentation = all
cpp_indent_namespace_contents = true
