[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
	branch = develop
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath.git
	branch = develop
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/udis86"]
	path = deps/udis86
	url = https://github.com/vmt/udis86.git
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/momo5502/discord-rpc.git
